<div class="container-fluid">
        <h1 class="text-center text-success">Check Loan Eligibility</h1>
        <div class="d-flex justify-center align-center">
            <ul>
                <li>You need to be an employee of a private limited company or an employee in a public sector undertakings, including central, state and local bodies.
                    You need to be between the ages of 21-60 years.
                    You need to have a job for at least two years, with a minimum of 1 year with your current employer.
                    You need to have a net income of 25,000 per month.
                    Bank requires a minimum credit score of 650 to be eligible for Loans.
                    If you have a good track record of repayment with previous loans, approval of the loan is faster and easier.</li>
            </ul>
        </div>
    
</div>
























































































<!-- 

<div>
    <label for="">Name</label>
    <input type="text" value="Dexter" disabled>
</div>
<div>
    <label for="">Interest</label>
    <input type="text" value="{{interest}}" disabled>
</div>
<br>
<div>
    <select id="loanType" (change)="loanType()">
        <option value="9.15" selected>House Loan</option>
        <option value="11">Personal Loan</option>
        <option value="8.65">Gold Loan</option>
        <option value="8.55">Education Loan</option>
        <option value="10">Vehicle Loan</option>
      </select>
</div>
<br>
<div>
    <select id="proffesion" (change)="profType()">
        <option value="sal" selected>Salaried</option>
        <option value="self">Self Employed</option>
      </select>
</div>
<br>
<div>
    <label for="monthlyIncome">monthlyIncome</label>
    <input type="text" id="monthlyIncome" name="monthlyIncome" (change)="onChangeEvent($event)">
</div><br>
<div>
    <label for="annualIncome">annualIncome</label>
    <input type="text" id="annualIncome" name="annualIncome" (change)="onChangeEvent2($event)">
</div><br>
<div>
    <label for="tenure">tenure</label>
    <input type="text" id="tenure" name="tenure" (change)="onChangeEvent3($event)">
</div><br>
<div>
    <label for="workexp">workexp</label>
    <input type="text" id="workexp" name="workexp" (change)="onChangeEvent7($event)">
</div><br>
<div>
    <label for="age">age</label>
    <input type="text" id="age" name="age" (change)="onChangeEvent6($event)">
</div><br>
<div>
    <label for="loanAmount">loanAmount</label>
    <input type="text" id="loanAmount" name="loanAmount" (change)="onChangeEvent4($event)">
</div><br>
<div>
    <label for="otheremi">otheremi</label>
    <input type="text" id="otheremi" name="otheremi" (change)="onChangeEvent5($event)">
</div><br>
<button (click)="onSubmit()">calculate</button>

<p id="resulta" class="text-{{color}} fw-bold"></p>
<p id="resultb" class="text-{{color}} fw-bold"></p>
<p id="app" class="text-{{color}} fw-bold"></p>

  -->